<form class="user-actions" [formGroup]="form" (keydown.enter)="$event.preventDefault()" novalidate>

    <div class="user-page-info">
        <span>CONVERT TO BTG</span>
    </div>

    <div class="input-container">
        <input class="input-value" formControlName="btgAddress" placeholder="Your BTG address">

        <div class="header top-margin">
            <div class="line"></div>
            <span>Amount</span>
            <div class="line"></div>
        </div>

        <input class="input-value" formControlName="amount" placeholder="Type the amount" type="number">
    </div>

    <div class="description">
        <span>
            The amount will be deposited to your BTG address after the 
            confirmation of the transaction.
        </span>
    </div>

    <div class="user-buttons">

        <button class="black separate" (click)="convertToBtg()" [disabled]="disabledSend">
            <span>SEND</span>
        </button>

        <button class="transparent-white" (click)="navigateTo(stateEnum.MY_ACCOUNT)">
            <span>BACK</span>
        </button>
    </div>

</form>
