<div class="aebtg-info-container">
    <div class="logo"></div>

    <div>
        æBTG project enables all bitcoin- based 
        blockchain project to use the advantages 
        of Aeternity. That is achieved by creating a 
        coin bridge between your blockchain 
        and Aeternity.
    </div>
    
    <div>
        The concept is proved by an using Bitcoin Gold 
        blockchain because of it’s low fees, good 
        development support and compatible 
        with bitcoin libraries.
    </div>
</div>


<div class="aebtg-user-container">
    <ng-container *ngIf="!myAddress">
        <span>loading...</span>
    </ng-container>
    
    <ng-container *ngIf="myAddress">

        <ng-container [ngSwitch]="state">

            <ng-container *ngSwitchCase="stateEnum.MY_ACCOUNT">
                <app-my-account [myAddress]="myAddress" (changeStateCallback)="setState($event)"></app-my-account>
            </ng-container>

            <ng-container *ngSwitchCase="stateEnum.SEND_AEBTG">
                <app-send-aebtg (changeStateCallback)="setState($event)"></app-send-aebtg>
            </ng-container>

            <ng-container *ngSwitchCase="stateEnum.CONVERT_TO_AEBTG">
                <app-convert-to-aebtg (changeStateCallback)="setState($event)"></app-convert-to-aebtg>
            </ng-container>

            <ng-container *ngSwitchCase="stateEnum.CONVERT_TO_BTG">
                <app-convert-to-btg (changeStateCallback)="setState($event)"></app-convert-to-btg>
            </ng-container>

        </ng-container>

        <!-- <div>

            <button (click)="sendBTG()">
                <span>Send</span>
            </button>
        </div> -->
    </ng-container>
</div>
