:host {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance {
    flex: 0 0 30%;
    width: 100%;
}

.balance > .header {
    display: flex;
    align-items: center;
}

.balance > .header > .line {
    flex: 0 1 50%;
    height: 2px;
    background-color: #F4F4F4;
}

.balance > .header > span {
    flex: 1 0 auto;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'BebasNeue-Regular';
    font-size: 32px;
}

.balance > .balance-value {
    background-color: #F4F4F4;
    height: 80px;
    width: 100%;
    border-radius: 40px;

}

.balance > .balance-value > span {
    display: table; /* used to Center horizontally */
    margin: 0 auto; /* Center horizontally */
    line-height: 80px; /* Center vertically by setting height as parent */
    color: #120136;
    font-size: 40px;
    font-family: 'OpenSans-Regular';
    font-weight: bold;
}
