<div class="user-actions">
    <span>æBTG</span>

    <span>Address:&nbsp;</span>

    <span>{{ myAddress }}</span>

    <div class="balance">
        <div class="header">
            <div class="line"></div>
            <span>Balance</span>
            <div class="line"></div>
        </div>

        <div class="balance-value">
            <span>{{ aeWalletService.balance | async }}</span>
        </div>
    </div>

    <div>
        <button (click)="navigateTo(stateEnum.SEND_AEBTG)">
            <span>Send</span>
        </button>

        <span>Convert</span>
        <button (click)="navigateTo(stateEnum.CONVERT_TO_AEBTG)">
            <span>From BTG</span>
        </button>

        <button (click)="navigateTo(stateEnum.CONVERT_TO_BTG)">
            <span>To BTG</span>
        </button>
    </div>
</div>
